Repository SonarSource/sonar-dotnet, pull requests merged in 2019-12, with the labels that each got.

#2840 Correct code generation for -2147483648
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/MLIRExporter.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/CBDE/MlirExportTest.cs
Labels: Area: CBDE

#2853 README.md update with description of issues.md
  README.md
  docs/issues.md
Labels: Area: Tooling

#2858 Add coding style README
  CONTRIBUTING.md
  docs/coding-style.md
Labels: Area: Tooling

#2872 Various changes
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/CbdeHandler.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.RuleDescriptorGenerator/Program.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/ResourceTests/GeneratedResourcesTest.cs
Labels: Area: CBDE

#2885 Use modern MsBuild features and remove mention of Linux …
  .gitignore
  scripts/download.ps1
  scripts/unzip.ps1
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/DownloadCBDE.targets
Labels: Area: CBDE

#2477 Integration of CBDE and the rule S3949 using it
  .gitignore
  scripts/build/build-utils.ps1
  sonar-csharp-plugin/pom.xml
  sonaranalyzer-dotnet/its/create-issue-reports.ps1
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S109.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S125.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S1451.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S1854.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S2148.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S2325.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S3903.json
  sonaranalyzer-dotnet/its/expected/ManuallyAddedNoncompliantIssues/IntentionalFindings--S3949.json
  sonaranalyzer-dotnet/its/sources/ManuallyAddedNoncompliantIssues/IntentionalFindings/S3949.cs
  sonaranalyzer-dotnet/rspec/cs/S3949_c#.html
  sonaranalyzer-dotnet/rspec/cs/S3949_c#.json
  sonaranalyzer-dotnet/rspec/cs/Sonar_way_profile.json
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/CbdeException.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/CbdeHandler.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/MlirExporter.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/MlirExporterMetrics.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/PreservingEncodingBuffer.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/CBDE/PreservingEncodingFallback.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/DownloadCBDE.targets
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/Rules/CbdeHandlerRule.cs
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/SonarAnalyzer.CSharp.csproj
  sonaranalyzer-dotnet/src/SonarAnalyzer.CSharp/packages.lock.json
  sonaranalyzer-dotnet/src/SonarAnalyzer.RuleDescriptorGenerator/packages.lock.json
  sonaranalyzer-dotnet/src/SonarAnalyzer.Utilities/Rules.Description/S3949.html
  sonaranalyzer-dotnet/src/SonarAnalyzer.Utilities/packages.lock.json
  sonaranalyzer-dotnet/src/SonarAnalyzer.Vsix/SonarAnalyzer.CSharp.nuspec
  sonaranalyzer-dotnet/src/SonarAnalyzer.Vsix/SonarAnalyzer.Vsix.csproj
  sonaranalyzer-dotnet/src/SonarAnalyzer.Vsix/tools-cs/install.ps1
  sonaranalyzer-dotnet/src/SonarAnalyzer.Vsix/tools-cs/uninstall.ps1
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/CBDE/CbdeHandlerTest.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/CBDE/CheckMLIRWithReference.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/CBDE/MlirExportTest.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/CBDE/MlirTestUtilities.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/PackagingTests/CsRuleTypeMapping.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/SonarAnalyzer.UnitTest.csproj
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/TestCases/CbdeHandler.cs
  sonaranalyzer-dotnet/tests/SonarAnalyzer.UnitTest/packages.lock.json
Labels: Area: CBDE, Type: New Feature
