Repository SonarSource/sonar-dotnet, pull requests merged in 2024-05, with the labels that each got.

#9232 Improve S6967: Add check for base classes with ApiController attribute
  analyzers/src/SonarAnalyzer.CSharp/Rules/AspNet/CallModelStateIsValid.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/AspNet/CallModelStateIsValid.cs
Labels: Sprint: ASP.NET MVC

#9236 Improve S6967: Filter out CancellationToken parameters
  analyzers/src/SonarAnalyzer.CSharp/Rules/AspNet/CallModelStateIsValid.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/AspNet/CallModelStateIsValid.cs
Labels: Sprint: ASP.NET MVC

#9226 Enable razor UTs in-memory compilation
  analyzers/tests/SonarAnalyzer.Test/Rules/JSInvokableMethodsShouldBePublicTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UnnecessaryUsingsTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/CopyPasteTokenAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/FileMetadataAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/LogAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/MetricsAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/SymbolReferenceAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/TokenTypeAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/AvoidLambdaExpressionInLoopsInBlazor.LoopsWithNoBody.razor
  analyzers/tests/SonarAnalyzer.Test/TestCases/AvoidLambdaExpressionInLoopsInBlazor.RenderFragmentConsumer.razor
  analyzers/tests/SonarAnalyzer.Test/TestCases/AvoidLambdaExpressionInLoopsInBlazor.razor
  analyzers/tests/SonarAnalyzer.Test/TestCases/CollectionPropertiesShouldBeReadOnly.razor
  analyzers/tests/SonarAnalyzer.Test/TestCases/CollectionPropertiesShouldBeReadOnly.razor.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/ParameterTypeShouldMatchRouteTypeConstraint.Partial.razor
  analyzers/tests/SonarAnalyzer.Test/TestCases/Razor/EmptyProject/EmptyProject.csproj
  analyzers/tests/SonarAnalyzer.Test/TestCases/Razor/EmptyProject/_Imports.razor
  analyzers/tests/SonarAnalyzer.Test/TestCases/Utilities/SymbolReferenceAnalyzer/Razor.razor
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Build/ProjectBuilderTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Common/SourceGeneratorProviderTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/Dummy.SecondaryLocation.cshtml
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/Dummy.SecondaryLocation.razor
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/Dummy.cshtml
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/Dummy.razor
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/DummyExpressions.razor
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/Razor/EmptyProject/EmptyProject.csproj
  analyzers/tests/SonarAnalyzer.TestFramework.Test/TestCases/Razor/EmptyProject/_Imports.razor
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/VerifierBuilderTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/VerifierTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Build/ProjectBuilder.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/SourceGeneratorProvider.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.AspNetCore.Razor.Language.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.AspNetCore.Razor.Utilities.Shared.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.AspNetCore.Razor.Utilities.Shared.xml
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.Razor.Compiler.CSharp.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.Razor.Compiler.Language.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.Razor.Compiler.Mvc.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.Razor.Compiler.SourceGenerators.deps.json
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.Razor.Compiler.SourceGenerators.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.CodeAnalysis.Razor.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/Microsoft.NET.Sdk.Razor.SourceGenerators.dll
  analyzers/tests/SonarAnalyzer.TestFramework/Dependencies/RazorSourceGenerator.razorencconfig
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataReference.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/Verifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/VerifierBuilder.cs
Labels: Sprint: Razor UTs

#9202 Refactor: Extract common method to check if any ancestor belongs to SyntaxKind
  analyzers/src/SonarAnalyzer.CSharp/Common/Walkers/MutedSyntaxWalker.cs
  analyzers/src/SonarAnalyzer.CSharp/Helpers/CSharpSyntaxHelper.cs
  analyzers/src/SonarAnalyzer.CSharp/ReuseClientBase.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/AspNet/ControllersReuseClient.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/CallToAsyncMethodShouldNotBeBlocking.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/Hotspots/HardcodedIpAddress.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/RedundantModifier.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/PublicMethodArgumentsShouldBeCheckedForNull.cs
  analyzers/src/SonarAnalyzer.VisualBasic/Helpers/VisualBasicSyntaxHelper.cs
  analyzers/src/SonarAnalyzer.VisualBasic/Rules/Hotspots/HardcodedIpAddress.cs
  analyzers/src/SonarAnalyzer.VisualBasic/Rules/StringLiteralShouldNotBeDuplicated.cs
  analyzers/src/SonarAnalyzer.VisualBasic/SymbolicExecution/Roslyn/PublicMethodArgumentsShouldBeCheckedForNull.cs
Labels: Type: Improvement

#9240 Improve S6964: Dont try to raise issue when Model and Controller are in different projects
  analyzers/src/SonarAnalyzer.CSharp/Rules/AspNet/AvoidUnderPosting.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/AspNet/AvoidUnderPostingTest.cs
Labels: Sprint: ASP.NET MVC

#9239 Improve S6964: Include array types and nested collection types
  analyzers/src/SonarAnalyzer.CSharp/Rules/AspNet/AvoidUnderPosting.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/AspNet/AvoidUnderPostingTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/AspNet/AvoidUnderPosting.cs
Labels: Sprint: ASP.NET MVC

#9111 New rule S6960 for C#: Controllers should not have too many responsibilities
  analyzers/rspec/cs/S6960.html
  analyzers/rspec/cs/S6960.json
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/AspNet/ControllersHaveMixedResponsibilities.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/AspNetMvcHelper.cs
  analyzers/tests/SonarAnalyzer.Test/Common/DisjointSetsTest.cs
  analyzers/tests/SonarAnalyzer.Test/Extensions/SyntaxNodeExtensionsTest.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingCS.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/AspNet/ControllersHaveMixedResponsibilitiesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MethodsShouldNotHaveTooManyLinesTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/AspNet/ControllersHaveMixedResponsibilities.Latest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/CoreMetadataReference.cs
Labels: Sprint: ASP.NET Web API

#9259 Change VerifyNoIssuesReported to not ignore errors
  analyzers/tests/SonarAnalyzer.CSharp.Styling.Test/Rules/AvoidValueTupleTest.cs
  analyzers/tests/SonarAnalyzer.CSharp.Styling.Test/Rules/FileScopeNamespaceTest.cs
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextBaseTest.ShouldAnalyzeTree.cs
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextTest.Register.cs
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextTest.cs
  analyzers/tests/SonarAnalyzer.Test/Common/RuleTest.cs
  analyzers/tests/SonarAnalyzer.Test/Common/SecurityHotspotTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/ArrayPassedAsParamsTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/AspNet/BackslashShouldBeAvoidedInAspNetRoutesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/AspNet/RouteTemplateShouldNotStartWithSlashTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/BinaryOperationWithIdenticalExpressionsTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/CatchEmptyTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/CheckFileLicenseTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/DoNotInstantiateSharedClassesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/EmptyMethodTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/ExpectedExceptionAttributeShouldNotBeUsedTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/FieldShadowsParentFieldTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Hotspots/DisablingRequestValidationTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/InsecureEncryptionAlgorithmTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MarkWindowsFormsMainWithStaThreadTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MemberInitializerRedundantTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MethodParameterUnusedTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MethodsShouldNotHaveTooManyLinesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/NameOfShouldBeUsedTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/NumberPatternShouldBeRegularTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/ObjectCreatedDroppedTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/ObsoleteAttributesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SqlKeywordsDelimitedBySpaceTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SymbolicExecution/HashesShouldHaveUnpredictableSaltTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SymbolicExecution/InitializationVectorShouldBeRandomTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SymbolicExecution/NullPointerDereferenceTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SymbolicExecution/RestrictDeserializedTypesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UnnecessaryUsingsTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UnusedStringBuilderTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UseFindSystemTimeZoneByIdTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UseNumericLiteralSeparatorTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UseUnixEpochTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/AnalysisWarningAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/VerifierTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/Verifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/VerifierBuilder.cs
Labels: Sprint: Razor UTs

#9287 Create rule S5344: Passwords should not be stored in plain-text or with a fast hashing algorithm (Part 2)
  analyzers/src/SonarAnalyzer.CSharp/Rules/PasswordsShouldBeStoredCorrectly.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/PasswordsShouldBeStoredCorrectlyTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataReference.cs
Labels: Sprint: MMF-3716 crypto rules

#8949 Add combinatorial data attribute
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Common/CombinatorialDataAttributeTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/CombinatorialDataAttribute.cs
Labels: Sprint: Hardening

#9300 Create rule S4347: 'SecureRandom' seeds should not be predictable (Part 1)
  analyzers/rspec/cs/S4347.html
  analyzers/rspec/cs/S4347.json
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/SymbolicExecution/SymbolicExecutionRunner.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/SecureRandomSeedsShouldNotBePredictable.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/src/SonarAnalyzer.Common/SymbolicExecution/Constraints/ConstraintKind.cs
  analyzers/src/SonarAnalyzer.Common/SymbolicExecution/Constraints/CryptographicSeedConstraint.cs
  analyzers/src/SonarAnalyzer.Common/SymbolicExecution/Roslyn/Extensions/IOperationExtensions.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingCS.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SecureRandomSeedsShouldNotBePredictableTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/SecureRandomSeedsShouldNotBePredictable.cs
Labels: Sprint: MMF-3716 crypto rules

#9315 Create rule S4347: 'SecureRandom' seeds should not be predictable (part 2)
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/SecureRandomSeedsShouldNotBePredictable.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SecureRandomSeedsShouldNotBePredictableTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/SecureRandomSeedsShouldNotBePredictable.cs
Labels: Sprint: MMF-3716 crypto rules

#9335 S6967: Add FP repro for #9325
  analyzers/tests/SonarAnalyzer.Test/TestCases/AspNet/CallModelStateIsValid.cs
Labels: Sprint: Hardening

#9333 Create rule S4347: 'SecureRandom' seeds should not be predictable (part 3)
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/SecureRandomSeedsShouldNotBePredictable.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SecureRandomSeedsShouldNotBePredictableTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/SecureRandomSeedsShouldNotBePredictable.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataReference.cs
Labels: Sprint: MMF-3716 crypto rules

#9345 S6781: Implement ShouldExecute
  analyzers/src/SonarAnalyzer.CSharp/Rules/SymbolicExecution/SymbolicExecutionRunner.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/JwtSecretKeys.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/JwtSecretKeysTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/JwtSecretKeys.AspNet.Core.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/JwtSecretKeys.AspNet.cs
Labels: Sprint: MMF-3716 crypto rules

#9342 S4347: Implement ShouldExecute
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/SecureRandomSeedsShouldNotBePredictable.cs
Labels: Sprint: MMF-3716 crypto rules
