Repository SonarSource/sonar-dotnet, pull requests merged in 2024-01, with the labels that each got.

#8547 UTs: Fix ExcludeFromCodeCoverageAttributesNeedJustificationTest
  analyzers/tests/SonarAnalyzer.Test/Rules/ExcludeFromCodeCoverageAttributesNeedJustificationTest.cs
Labels: Sprint: Tests

#8564 Documentation: Remove re-ci-infrastructure links to dead documentation/code
  README.md
Labels: Type: Tooling

#8586 S4261: Simplify name comparrission
  analyzers/src/SonarAnalyzer.CSharp/Rules/MethodShouldBeNamedAccordingToSynchronicity.cs
Labels: Sprint: Hardening

#8578 Cleanup IT Nuget.Config files
  analyzers/its/sources/Ember-MM/.nuget/NuGet.Config
  analyzers/its/sources/Nancy/NuGet.config
  analyzers/its/sources/NuGet.config
  analyzers/its/sources/akka.net/src/NuGet.Config
  azure-pipelines.yml
Labels: dependencies

#8568 TestFramework: Move framework files
  analyzers/tests/SonarAnalyzer.Net8.Test/SonarAnalyzer.Net8.Test.csproj
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextTest.cs
  analyzers/tests/SonarAnalyzer.Test/Common/RuleTest.cs
  analyzers/tests/SonarAnalyzer.Test/Common/SecurityHotspotTest.cs
  analyzers/tests/SonarAnalyzer.Test/Constants.cs
  analyzers/tests/SonarAnalyzer.Test/Helpers/AspNetMvcHelperTest.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/AssertionArgsShouldBePassedInCorrectOrderTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/CertificateValidationCheckTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Hotspots/DeliveringDebugFeaturesInProductionTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Hotspots/ExecutingSqlQueriesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/SymbolicExecution/RestrictDeserializedTypesTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UnusedPrivateMemberTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/FileMetadataAnalyzerTest.cs
  analyzers/tests/SonarAnalyzer.Test/SonarAnalyzer.Test.csproj
  analyzers/tests/SonarAnalyzer.TestFramework/Common/AnalysisScaffolding.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/AssertIgnoreScope.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/Constants.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/CurrentCultureScope.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/EnvironmentVariableScope.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/FixAllDiagnosticProvider.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/Paths.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/TestContextHelper.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Common/TestHelper.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Compilation/ParseOptionsHelper.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Compilation/ProjectBuilder.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Compilation/SnippetCompiler.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Compilation/SolutionBuilder.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Extensions/CompilationExtensions.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Extensions/StringAssertionsExtensions.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Extensions/SyntaxTreeExtensions.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/AspNetCoreMetadataReference.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/CoreMetadataReference.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/FrameworkMetadataReference.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/MetadataReferenceFacade.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/MetadataReferenceFactory.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataFactory.Package.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataFactory.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataReference.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/WindowsFormsMetadataReference.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Properties/AssemblyInfo.cs
  analyzers/tests/SonarAnalyzer.TestFramework/SonarAnalyzer.TestFramework.csproj
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/CodeFixVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticsComparer.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IIssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueLocationCollector.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/UnexpectedDiagnosticException.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/Verifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/VerifierBuilder.cs
Labels: Sprint: Tests

#8581 TestFramework: Fix coverage
  azure-pipelines.yml
Labels: Sprint: Tests

#8606 Add 'failIfNoTests' in the Maven ITs
  its/pom.xml
Labels: Type: Tooling, Sprint: Tests

#8610 Java ITs: Use LATEST_RELEASE SQ version
  its/src/test/java/com/sonar/it/shared/TestUtils.java
Labels: Sprint: Tests

#8590 TestFramework: Create CompilationIssues class
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/DiagnosticsComparerTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticsComparer.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueLocationCollector.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/CompilationIssues.cs
Labels: Sprint: Tests

#8591 TestFramework: Move classes to IssueValidation namespace
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/DiagnosticsComparerTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetExpectedBuildErrors.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetExpectedIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetPreciseIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.MergeLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/CodeFixVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticsComparer.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/CompilationIssues.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/DiagnosticsComparer.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/FileContent.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/FileIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IIssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocationCollector.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/SuppressionHandler.cs
Labels: Sprint: Tests

#8592 TestFramework: Delete useless IIssueLocation interface
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/DiagnosticsComparerTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/CompilationIssues.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/DiagnosticsComparer.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/FileIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IIssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocationCollector.cs
Labels: Sprint: Tests

#8596 TestFramework: Create IssueLocationPair class
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/DiagnosticsComparerTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationPairTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/DiagnosticsComparer.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocationPair.cs
Labels: Sprint: Tests

#8609 AnalysisWarningAnalyzerBase: targeted warnings for MSBuild14/15
  analyzers/src/SonarAnalyzer.CFG/Helpers/RoslynHelper.cs
  analyzers/src/SonarAnalyzer.Common/Rules/Utilities/AnalysisWarningAnalyzerBase.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Utilities/AnalysisWarningAnalyzerTest.cs
  its/projects/Roslyn.1.3.2/OldRoslyn.cs
  its/projects/Roslyn.1.3.2/Roslyn.1.3.2.csproj
  its/projects/Roslyn.1.3.2/Roslyn.1.3.2.sln
  its/projects/Roslyn.1.3.2/packages.lock.json
  its/projects/Roslyn.2.4.0/OldRoslyn.cs
  its/projects/Roslyn.2.4.0/Roslyn.2.4.0.csproj
  its/projects/Roslyn.2.4.0/Roslyn.2.4.0.sln
  its/projects/Roslyn.2.4.0/packages.lock.json
  its/src/test/java/com/sonar/it/csharp/AnalysisWarningsTest.java
Labels: Type: Improvement

#8605 TestFramework: Rework Razor verification
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextBaseTest.ShouldAnalyzeTree.cs
  analyzers/tests/SonarAnalyzer.Test/Metrics/CSharpExecutableLinesMetricTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Hotspots/DisablingRequestValidationTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MethodParameterUnusedTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/VerifierBuilderTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/VerifierTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/Verifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/VerifierBuilder.cs
Labels: Sprint: Tests

#8626 TestFramework: Update IssueLocation
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/CompilationIssuesTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetExpectedBuildErrors.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetExpectedIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.GetPreciseIssueLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationCollectorTest.MergeLocations.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationPairTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework.Test/Verification/IssueValidation/IssueLocationTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Extensions/StringAssertionsExtensions.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/DiagnosticVerifier.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/CompilationIssues.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/FileContent.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocation.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocationCollector.cs
  analyzers/tests/SonarAnalyzer.TestFramework/Verification/IssueValidation/IssueLocationPair.cs
Labels: Sprint: Tests
