Repository SonarSource/sonar-dotnet, pull requests merged in 2024-03, with the labels that each got.

#8848 Rule S6668: Handle the rule exceptions
  analyzers/src/SonarAnalyzer.CSharp/Rules/LoggingArgumentsShouldBePassedCorrectly.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/LoggingArgumentsShouldBePassedCorrectlyTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/LoggingArgumentsShouldBePassedCorrectly.cs
Labels: Sprint: Logging rules

#8825 SE: Increase loop iteration limit to 3 and step count limit to 4000
  analyzers/its/expected/Ember-MM/S2259-Ember Media Manager.json
  analyzers/its/expected/Ember-MM/S2259-generic.EmberCore.NMT.json
  analyzers/its/expected/Ember-MM/S2583-EmberAPI.json
  analyzers/its/expected/Ember-MM/S2583-scraper.EmberCore.XML.json
  analyzers/its/expected/Ember-MM/S2589-EmberAPI.json
  analyzers/its/expected/Ember-MM/S2589-generic.EmberCore.Extractor.json
  analyzers/its/expected/Ember-MM/S3900-scraper.EmberCore.json
  analyzers/its/expected/Nancy/S2583-Nancy-net452.json
  analyzers/its/expected/Nancy/S2583-Nancy-netstandard2.0.json
  analyzers/its/expected/Nancy/S2589-Nancy-net452.json
  analyzers/its/expected/Nancy/S2589-Nancy-netstandard2.0.json
  analyzers/its/expected/akka.net/S2589-Akka-netstandard2.0.json
  analyzers/its/expected/akka.net/S2589-Akka.Cluster-netstandard2.0.json
  analyzers/src/SonarAnalyzer.Common/SymbolicExecution/Roslyn/RoslynSymbolicExecution.cs
  analyzers/tests/SonarAnalyzer.Test/SymbolicExecution/Roslyn/RoslynSymbolicExecutionTest.Loops.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/SymbolicExecution/Roslyn/ConditionEvaluatesToConstant.CSharp8.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/SymbolicExecution/Roslyn/ConditionEvaluatesToConstant.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/SymbolicExecution/Roslyn/ConditionEvaluatesToConstant.vb
Labels: Sprint: SE

#8863 Improve Logging Rules: Check for Library References Before Registering Analyzers
  analyzers/src/SonarAnalyzer.CSharp/Rules/MessageTemplates/MessageTemplatesShouldBeCorrect.cs
  analyzers/src/SonarAnalyzer.Common/Extensions/CompilationExtensions.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownAssembly.Predicates.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownAssembly.cs
  analyzers/tests/SonarAnalyzer.Test/Extensions/CompilationExtensionsTest.cs
  analyzers/tests/SonarAnalyzer.Test/Helpers/KnownAssemblyTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataReference.cs
Labels: Sprint: Logging rules

#8855 New rule S6672: Generic logger injection should match enclosing type
  analyzers/rspec/cs/S6672.html
  analyzers/rspec/cs/S6672.json
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/GenericLoggerInjectionShouldMatchEnclosingType.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingCS.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/GenericLoggerInjectionShouldMatchEnclosingTypeTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/GenericLoggerInjectionShouldMatchEnclosingType.cs
Labels: Sprint: Logging rules

#8853 New rule S6669: Logger field names should comply with a naming convention
  analyzers/its/expected/ManuallyAddedNoncompliantIssues.CS/S1144-IntentionalFindings-net8.0.json
  analyzers/its/expected/ManuallyAddedNoncompliantIssues.CS/S1451-IntentionalFindings-net8.0.json
  analyzers/its/expected/ManuallyAddedNoncompliantIssues.CS/S6669-IntentionalFindings-net8.0.json
  analyzers/its/expected/ManuallyAddedNoncompliantIssues.CS/S6672-IntentionalFindings-net8.0.json
  analyzers/its/sources/ManuallyAddedNoncompliantIssues.CS/IntentionalFindings/IntentionalFindings.csproj
  analyzers/its/sources/ManuallyAddedNoncompliantIssues.CS/IntentionalFindings/S6669.cs
  analyzers/its/sources/ManuallyAddedNoncompliantIssues.CS/IntentionalFindings/S6672.cs
  analyzers/rspec/cs/S6669.html
  analyzers/rspec/cs/S6669.json
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/LoggerMembersNamesShouldComply.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingCS.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/ExceptionsShouldBeLoggedTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/Hotspots/ConfiguringLoggersTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/LoggerMembersNamesShouldComplyTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/LoggingArgumentsShouldBePassedCorrectlyTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MessageTemplatesShouldBeCorrectTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/NamedPlaceholdersShouldBeUniqueTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UseConstantLoggingTemplateTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/UsePascalCaseForNamedPlaceHoldersTest.cs
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/NuGetMetadataReference.cs
Labels: Sprint: Logging rules

#8887 Rule S6667: Subscribe only when a logging reference exists
  analyzers/src/SonarAnalyzer.CSharp/Rules/ExceptionsShouldBeLogged.cs
Labels: Sprint: Logging rules

#8888 Move the syntax walkers in their own folder
  analyzers/src/SonarAnalyzer.CSharp/Common/Walkers/MutedSyntaxWalker.cs
  analyzers/src/SonarAnalyzer.CSharp/Common/Walkers/ParameterValidationInMethodWalker.cs
  analyzers/src/SonarAnalyzer.CSharp/Common/Walkers/SafeCSharpSyntaxWalker.cs
  analyzers/src/SonarAnalyzer.CSharp/Helpers/CSharpIfDirectiveHelper.cs
  analyzers/src/SonarAnalyzer.CSharp/Helpers/CSharpSymbolUsageCollector.cs
  analyzers/src/SonarAnalyzer.CSharp/Metrics/CSharpCognitiveComplexityMetric.cs
  analyzers/src/SonarAnalyzer.CSharp/Metrics/CSharpCyclomaticComplexityMetric.cs
  analyzers/src/SonarAnalyzer.CSharp/Metrics/CSharpExecutableLinesMetric.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/AvoidExcessiveClassCoupling.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/BeginInvokePairedWithEndInvoke.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/CloudNative/AzureFunctionsCatchExceptions.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/CloudNative/AzureFunctionsLogFailures.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/ConsumeValueTaskCorrectly.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/DeadStores.SonarCfg.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/DeadStores.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/DoNotCopyArraysInProperties.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/DoNotNestTypesInArguments.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/FunctionNestingDepth.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/Hotspots/InsecureDeserialization.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/NoExceptionsInFinally.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/ParameterValidationInAsyncShouldBeWrapped.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/ParameterValidationInYieldShouldBeWrapped.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/PrivateFieldUsedAsLocalVariable.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/PrivateStaticMethodUsedOnlyByNestedClass.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/RedundantModifier.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/SqlKeywordsDelimitedBySpace.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/UnconditionalJumpStatement.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/UnnecessaryUsings.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/UnusedPrivateMember.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/Utilities/SymbolReferenceAnalyzer.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/CalculationsShouldNotOverflow.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/ConditionEvaluatesToConstant.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/EmptyCollectionsShouldNotBeEnumerated.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/EmptyNullableValueAccess.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/HashesShouldHaveUnpredictableSalt.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/InitializationVectorShouldBeRandom.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/LocksReleasedAllPaths.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/NullPointerDereference.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/ObjectsShouldNotBeDisposedMoreThanOnce.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/PublicMethodArgumentsShouldBeCheckedForNull.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Roslyn/RestrictDeserializedTypes.cs
  analyzers/src/SonarAnalyzer.CSharp/SymbolicExecution/Sonar/Analyzers/ConditionEvaluatesToConstant.cs
  analyzers/tests/SonarAnalyzer.Test/Extensions/SafeCSharpSyntaxWalkerTest.cs
Labels: Sprint: Logging rules

#8889 S6669: Include 'Instance' in default allowed logger names
  analyzers/src/SonarAnalyzer.CSharp/Rules/LoggerMembersNamesShouldComply.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/LoggerMembersNamesShouldComplyTest.cs
Labels: Sprint: Logging rules

#8895 Improve S6670: Ignore when Trace.Write() called with category parameter
  analyzers/src/SonarAnalyzer.CSharp/Rules/DontUseTraceWrite.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/DontUseTraceWrite.cs
Labels: Sprint: Logging rules

#8896 Rule S2139: Skip conditional check to avoid FP
  analyzers/src/SonarAnalyzer.CSharp/Common/Walkers/CatchLoggingInvocationWalker.cs
  analyzers/src/SonarAnalyzer.CSharp/Rules/ExceptionsShouldBeLoggedOrThrown.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/ExceptionsShouldBeLoggedOrThrownTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/ExceptionsShouldBeLogged.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/ExceptionsShouldBeLoggedOrThrown.cs
Labels: Area: C#, Sprint: Logging rules

#8897 S6930: Support for ASP.NET 4x
  README.md
  analyzers/rspec/cs/S6930.html
  analyzers/rspec/cs/S6930.json
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/rspec/vbnet/S6930.html
  analyzers/rspec/vbnet/S6930.json
  analyzers/rspec/vbnet/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/BackslashShouldBeAvoidedInAspNetRoutes.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/src/SonarAnalyzer.Common/Rules/BackslashShouldBeAvoidedInAspNetRoutesBase.cs
  analyzers/src/SonarAnalyzer.VisualBasic/Rules/BackslashShouldBeAvoidedInAspNetRoutes.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingCS.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingVB.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/BackslashShouldBeAvoidedInAspNetRoutesTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNet4x.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNet4x.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNet4x.vb
Labels: Sprint: ASP.NET

#8900 S6930: Support for ASP.NET Core 2.x
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/src/SonarAnalyzer.Common/Rules/BackslashShouldBeAvoidedInAspNetRoutesBase.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/BackslashShouldBeAvoidedInAspNetRoutesTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.CSharp8.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.vb
Labels: Sprint: ASP.NET

#8901 S6930: Support for ASP.NET Core 3 and above
  analyzers/tests/SonarAnalyzer.Net8.Test/Rules/BackslashShouldBeAvoidedInAspNetRoutesTest.cs
  analyzers/tests/SonarAnalyzer.Net8.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore8AndAbove.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Net8.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore8AndAbove.vb
  analyzers/tests/SonarAnalyzer.Test/Rules/BackslashShouldBeAvoidedInAspNetRoutesTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNet4x.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNet4x.vb
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2AndAbove.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.vb
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore3AndAbove.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore3AndAbove.vb
  analyzers/tests/SonarAnalyzer.TestFramework/MetadataReferences/AspNetCoreMetadataReference.cs
Labels: Sprint: ASP.NET

#8799 Add the RegisterSymbolStart wrapper
  analyzers/src/RuleDescriptorGenerator/packages.lock.json
  analyzers/src/SonarAnalyzer.CFG/ShimLayer/AnalysisContext/CompilationStartAnalysisContextExtensions.cs
  analyzers/src/SonarAnalyzer.CFG/ShimLayer/AnalysisContext/SymbolStartAnalysisContextWrapper.cs
  analyzers/src/SonarAnalyzer.CFG/SonarAnalyzer.CFG.csproj
  analyzers/src/SonarAnalyzer.CFG/packages.lock.json
  analyzers/src/SonarAnalyzer.CSharp/packages.lock.json
  analyzers/src/SonarAnalyzer.Common/AnalysisContext/SonarCompilationStartAnalysisContext.cs
  analyzers/src/SonarAnalyzer.Common/AnalysisContext/SonarSymbolStartAnalysisContext.cs
  analyzers/src/SonarAnalyzer.Common/packages.lock.json
  analyzers/src/SonarAnalyzer.VisualBasic/packages.lock.json
  analyzers/tests/ITs.JsonParser.Test/packages.lock.json
  analyzers/tests/SonarAnalyzer.Net8.Test/packages.lock.json
  analyzers/tests/SonarAnalyzer.Test/AnalysisContext/SonarAnalysisContextTest.Register.cs
  analyzers/tests/SonarAnalyzer.Test/Wrappers/RegisterSymbolStartActionWrapperTest.cs
  analyzers/tests/SonarAnalyzer.Test/packages.lock.json
  analyzers/tests/SonarAnalyzer.TestFramework.Test/packages.lock.json
  analyzers/tests/SonarAnalyzer.TestFramework/packages.lock.json
Labels: Sprint: ASP.NET

#8932 Rule S3416: Fix FPs
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/LoggersShouldBeNamedForEnclosingType.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/LoggersShouldBeNamedForEnclosingTypeTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/LoggersShouldBeNamedForEnclosingType.cs
Labels: Area: C#, Sprint: Logging rules

#8920 Move Net5 project from .NET ITs to Java ITs
  analyzers/its/expected/Net5/S1451-Net5-net5.0.json
  analyzers/its/expected/Net5/S1481-Net5-net5.0.json
  analyzers/its/expected/Net5/S3353-Net5-net5.0.json
  analyzers/its/expected/Net5/S3990-Net5-net5.0.json
  analyzers/its/expected/Net5/S3992-Net5-net5.0.json
  analyzers/its/expected/Net5/S4055-Net5-net5.0.json
  analyzers/its/regression-test.ps1
  analyzers/its/sources/Net5/Net5/Main.cs
  analyzers/its/update-expected.ps1
  its/projects/Net5/Net5/Main.cs
  its/projects/Net5/Net5/Net5.csproj
  its/projects/Net5/global.json
  its/projects/Net5/net5.sln
  its/src/test/java/com/sonar/it/csharp/SdkTest.java
Labels: Area: C#

#8915 S6930: Parameterize UTs
  analyzers/tests/SonarAnalyzer.Test/Rules/BackslashShouldBeAvoidedInAspNetRoutesTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNet4x.CSharp11.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/BackslashShouldBeAvoidedInAspNetRoutes.AspNetCore2x.CSharp11.cs
Labels: Sprint: ASP.NET

#8898 Fix S3993 FP: Allow abstract attributes not to decorate Attribute usage
  analyzers/src/SonarAnalyzer.CSharp/Rules/RequireAttributeUsageAttribute.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/MarkAssemblyWithAttributeUsageAttributeTest.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/RequireAttributeUsageAttributeTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/RequireAttributeUsageAttribute.cs
Labels: Type: False Positive, Area: C#

#8928 S6931: Support for ASP.NET 4x
  analyzers/rspec/cs/S6931.html
  analyzers/rspec/cs/S6931.json
  analyzers/rspec/cs/Sonar_way_profile.json
  analyzers/rspec/vbnet/S6931.html
  analyzers/rspec/vbnet/S6931.json
  analyzers/rspec/vbnet/Sonar_way_profile.json
  analyzers/src/SonarAnalyzer.CSharp/Rules/RouteTemplateShouldNotStartWithSlash.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/AspNetMvcHelper.cs
  analyzers/src/SonarAnalyzer.Common/Helpers/KnownType.cs
  analyzers/src/SonarAnalyzer.Common/Rules/BackslashShouldBeAvoidedInAspNetRoutesBase.cs
  analyzers/src/SonarAnalyzer.Common/Rules/RouteTemplateShouldNotStartWithSlashBase.cs
  analyzers/src/SonarAnalyzer.VisualBasic/Rules/RouteTemplateShouldNotStartWithSlash.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingCS.cs
  analyzers/tests/SonarAnalyzer.Test/PackagingTests/RuleTypeMappingVB.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/RouteTemplateShouldNotStartWithSlashTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/RouteTemplateShouldNotStartWithSlash.AspNet4x.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/RouteTemplateShouldNotStartWithSlash.vb
Labels: Sprint: ASP.NET

#8929 Move NetX project from .NET ITs to Java ITs
  analyzers/its/Projects/Net6/Net6/Net6.csproj
  analyzers/its/Projects/Net6/Net6/Program.cs
  analyzers/its/Projects/Net7/Net7/Net7.csproj
  analyzers/its/Projects/Net7/Net7/Program.cs
  analyzers/its/Projects/Net8/Net8/Program.cs
  analyzers/its/Projects/NetCore31/NetCore31/Program.cs
  analyzers/its/expected/Net6/S1451-Net6-net6.0.json
  analyzers/its/expected/Net6/S1481-Net6-net6.0.json
  analyzers/its/expected/Net6/S3353-Net6-net6.0.json
  analyzers/its/expected/Net6/S3990-Net6-net6.0.json
  analyzers/its/expected/Net6/S3992-Net6-net6.0.json
  analyzers/its/expected/Net6/S4055-Net6-net6.0.json
  analyzers/its/expected/Net7/S1451-Net7-net7.0.json
  analyzers/its/expected/Net7/S1481-Net7-net7.0.json
  analyzers/its/expected/Net7/S3353-Net7-net7.0.json
  analyzers/its/expected/Net7/S3990-Net7-net7.0.json
  analyzers/its/expected/Net7/S3992-Net7-net7.0.json
  analyzers/its/expected/Net7/S4055-Net7-net7.0.json
  analyzers/its/expected/Net8/S1451-Net8-net8.0.json
  analyzers/its/expected/Net8/S1481-Net8-net8.0.json
  analyzers/its/expected/Net8/S3353-Net8-net8.0.json
  analyzers/its/expected/Net8/S3990-Net8-net8.0.json
  analyzers/its/expected/Net8/S3992-Net8-net8.0.json
  analyzers/its/expected/Net8/S4055-Net8-net8.0.json
  analyzers/its/expected/NetCore31/S105-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S106-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S1118-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S1128-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S1451-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S1481-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S3353-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S3990-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S3992-NetCore31-netcoreapp3.1.json
  analyzers/its/expected/NetCore31/S4055-NetCore31-netcoreapp3.1.json
  analyzers/its/regression-test.ps1
  analyzers/its/update-expected.ps1
  its/projects/Net6/Net6/Net6.csproj
  its/projects/Net6/Net6/Program.cs
  its/projects/Net6/global.json
  its/projects/Net6/net6.sln
  its/projects/Net7/Net7.sln
  its/projects/Net7/Net7/Net7.csproj
  its/projects/Net7/Net7/Program.cs
  its/projects/Net7/global.json
  its/projects/Net8/Net8.sln
  its/projects/Net8/Net8/Net8.csproj
  its/projects/Net8/Net8/Program.cs
  its/projects/Net8/global.json
  its/projects/NetCore31/NetCore31.sln
  its/projects/NetCore31/NetCore31/NetCore31.csproj
  its/projects/NetCore31/NetCore31/Program.cs
  its/projects/NetCore31/global.json
  its/src/test/java/com/sonar/it/csharp/SdkTest.java
Labels: Area: C#

#8939 S6931: Support for ASP.NET Core
  analyzers/src/SonarAnalyzer.Common/Helpers/AspNetMvcHelper.cs
  analyzers/src/SonarAnalyzer.Common/Rules/RouteTemplateShouldNotStartWithSlashBase.cs
  analyzers/tests/SonarAnalyzer.Net8.Test/Rules/RouteTemplateShouldNotStartWithSlashTest.cs
  analyzers/tests/SonarAnalyzer.Net8.Test/TestCases/RouteTemplateShouldNotStartWithSlash.AspNetCore.cs
  analyzers/tests/SonarAnalyzer.Test/Rules/RouteTemplateShouldNotStartWithSlashTest.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/RouteTemplateShouldNotStartWithSlash.AspNet4x.vb
  analyzers/tests/SonarAnalyzer.Test/TestCases/RouteTemplateShouldNotStartWithSlash.AspNetCore.cs
  analyzers/tests/SonarAnalyzer.Test/TestCases/RouteTemplateShouldNotStartWithSlash.AspNetCore.vb
Labels: Sprint: ASP.NET

#8991 Fix TypeInitializationException in SymbolStartAnalysisContextWrapper
  analyzers/src/SonarAnalyzer.CFG/ShimLayer/AnalysisContext/SymbolStartAnalysisContextWrapper.cs
Labels: Type: Bug, Area: VB.NET, Area: C#
